<?xml version='1.0' encoding='utf-8'?>
<widget id="com.changtou.ichangtou" version="2.5.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
  <name>长投学堂</name>
  <description>
    长投学堂app
  </description>
  <author email="dev@cordova.apache.org" href="http://cordova.io">
    Apache Cordova Team
  </author>
  <content src="index.html" />
  <plugin name="cordova-plugin-whitelist" spec="1" />
  <access origin="*" />
  <allow-intent href="http://*/*" />
  <allow-intent href="https://*/*" />
  <allow-intent href="tel:*" />
  <allow-intent href="sms:*" />
  <allow-intent href="mailto:*" />
  <allow-intent href="geo:*" />

  <allow-navigation href="http://*/*" />
  <allow-navigation href="https://*/*" />
  <allow-navigation href="data:*" />

  <preference name="orientation" value="portrait" />

  <platform name="android">
    <allow-intent href="market:*" />

    <icon src="www/resources/icons/android/ldpi.png" density="ldpi" />
    <icon src="www/resources/icons/android/mdpi.png" density="mdpi" />
    <icon src="www/resources/icons/android/hdpi.png" density="hdpi" />
    <icon src="www/resources/icons/android/xhdpi.png" density="xhdpi" />
    <icon src="www/resources/icons/android/xxhdpi.png" density="xxhdpi" />
    <icon src="www/resources/icons/android/xxxhdpi.png" density="xxxhdpi" />

    <!--<splash src="res/screen/android/splash-land-hdpi.png" density="land-hdpi"/>-->
    <!--<splash src="res/screen/android/splash-land-ldpi.png" density="land-ldpi"/>-->
    <!--<splash src="res/screen/android/splash-land-mdpi.png" density="land-mdpi"/>-->
    <!--<splash src="res/screen/android/splash-land-xhdpi.png" density="land-xhdpi"/>-->

    <splash src="www/resources/splash/android/splash-port-hdpi.png" density="port-hdpi"/>
    <splash src="www/resources/splash/android/splash-port-ldpi.png" density="port-ldpi"/>
    <splash src="www/resources/splash/android/splash-port-mdpi.png" density="port-mdpi"/>
    <splash src="www/resources/splash/android/splash-port-xhdpi.png" density="port-xhdpi"/>

    <preference name="SplashShowOnlyFirstTime" value="false" />
    <preference name="FadeSplashScreen" value="false"/>
    <preference name="AutoHideSplashScreen" value="false" />
  </platform>
  <platform name="ios">
    <allow-intent href="itms:*" />
    <allow-intent href="itms-apps:*" />

    <!-- iOS 8.0+ -->
    <!-- iPhone 6 Plus  -->｀
    <icon src="www/resources/icons/ios/icon-60@3x.png" width="180" height="180" />
    <!-- iOS 7.0+ -->
    <!-- iPhone / iPod Touch  -->
    <icon src="www/resources/icons/ios/icon-60.png" width="60" height="60" />
    <icon src="www/resources/icons/ios/icon-60@2x.png" width="120" height="120" />
    <!-- iPad -->
    <icon src="www/resources/icons/ios/icon-76.png" width="76" height="76" />
    <icon src="www/resources/icons/ios/icon-76@2x.png" width="152" height="152" />
    <!-- iOS 6.1 -->
    <!-- Spotlight Icon -->
    <icon src="www/resources/icons/ios/icon-40.png" width="40" height="40" />
    <icon src="www/resources/icons/ios/icon-40@2x.png" width="80" height="80" />
    <!-- iPhone / iPod Touch -->
    <icon src="www/resources/icons/ios/icon.png" width="57" height="57" />
    <icon src="www/resources/icons/ios/icon@2x.png" width="114" height="114" />
    <!-- iPad -->
    <icon src="www/resources/icons/ios/icon-72.png" width="72" height="72" />
    <icon src="www/resources/icons/ios/icon-72@2x.png" width="144" height="144" />
    <!-- iPhone Spotlight and Settings Icon -->
    <icon src="www/resources/icons/ios/icon-small.png" width="29" height="29" />
    <icon src="www/resources/icons/ios/icon-small@2x.png" width="58" height="58" />
    <!-- iPad Spotlight and Settings Icon -->
    <icon src="www/resources/icons/ios/icon-50.png" width="50" height="50" />
    <icon src="www/resources/icons/ios/icon-50@2x.png" width="100" height="100" />


    <splash src="www/resources/splash/ios/Default~iphone.png" width="320" height="480"/>
    <splash src="www/resources/splash/ios/Default@2x~iphone.png" width="640" height="960"/>
    <splash src="www/resources/splash/ios/Default-Portrait~ipad.png" width="768" height="1024"/>
    <splash src="www/resources/splash/ios/Default-Portrait@2x~ipad.png" width="1536" height="2048"/>
    <!--<splash src="www/resources/splash/ios/Default-Landscape~ipad.png" width="1024" height="768"/>-->
    <!--<splash src="www/resources/splash/ios/Default-Landscape@2x~ipad.png" width="2048" height="1536"/>-->
    <splash src="www/resources/splash/ios/Default-568h@2x~iphone.png" width="640" height="1136"/>
    <splash src="www/resources/splash/ios/Default-667h.png" width="750" heiht="750"/>
    <splash src="www/resources/splash/ios/750_1334.png" width="750" heigght="1334"/>
    <splash src="www/resources/splash/ios/Default-736h.png" width="1242" height="2208"/>
    <!--<splash src="www/resources/splash/ios/Default-Landscape-736h.png" width="2208" height="1242"/>-->
    <splash src="www/resources/splash/ios/1334_750.png" width="1334" height="1334"/>
  </platform>
  <platform name="browser">
    <preference name="SplashScreen" value="/static/resources/splash/ios/Default-667h.png" />
    <preference name="SplashScreenWidth" value="375" /> <!-- defaults to "170" -->
    <preference name="SplashScreenHeight" value="627" /> <!-- defaults to "200" -->
  </platform>

  <chcp>
    <!--<local-development enabled="true" />-->

    <!--测试环境-->
    <!--<config-file url="http://app.ichangtou.com.cn/update/www/chcp.json"/>-->

    <!--正式环境-->
    <!--<config-file url="http://m.ichangtou.net/update/www/chcp.json"/>-->

    <native-interface version="10202" />
    <!--<auto-download enabled="true" />-->
    <!--<auto-install enabled="true" />-->
  </chcp>

</widget>
