.block_ {
    display: block;
    font-size: 1.41667em;
    font-weight: normal;
    line-height: 2.41;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 17pt 0 16.5pt;
    padding: 0
    }
.block_1 {
    display: block;
    font-family: "Calibri Light", sans-serif;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 13pt 0;
    padding: 0
    }
.block_2 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 27pt;
    margin: 0;
    padding: 0
    }
.block_3 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 27pt;
    margin: 0;
    padding: 0
    }
.block_4 {
    display: block;
    font-size: 1.125em;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 13pt 0;
    padding: 0
    }
.block_5 {
    display: block;
    font-size: 1.125em;
    font-weight: normal;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 13pt 0;
    padding: 0
    }
.block_6 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_7 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_8 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: justify;
    margin: 0;
    padding: 0
    }
.block_9 {
    display: block;
    text-align: justify;
    margin: 0;
    padding: 0
    }
.block_10 {
    display: block;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_11 {
    display: block;
    font-size: 1.41667em;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_12 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 2.41;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 17pt 0 16.5pt;
    padding: 0
    }
.block_13 {
    display: block;
    line-height: 1.5;
    text-align: left;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_14 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: left;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_15 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1em;
    margin: 0;
    padding: 0
    }
.block_16 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 1em;
    margin: 0;
    padding: 0
    }
.block_17 {
    display: block;
    line-height: 1.5;
    text-align: left;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_18 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: left;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_19 {
    display: block;
    font-family: "Calibri Light", sans-serif;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 13pt 0;
    padding: 0
    }
.block_20 {
    display: block;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_21 {
    display: block;
    line-height: 1.5;
    text-align: left;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_22 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: left;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_23 {
    display: block;
    line-height: 1.5;
    text-align: center;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_24 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_25 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_26 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_27 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_28 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_29 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    padding: 0
    }
.block_30 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_31 {
    display: block;
    font-weight: bold;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_32 {
    display: block;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_33 {
    display: block;
    line-height: 1.5;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_34 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_35 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    margin: 0;
    padding: 0
    }
.block_36 {
    display: block;
    font-size: 0.75em;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_37 {
    display: block;
    font-size: 0.75em;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_38 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_39 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 21.8pt;
    margin: 0;
    padding: 0
    }
.block_40 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 21.8pt;
    margin: 0;
    padding: 0
    }
.block_41 {
    display: block;
    line-height: 1.5;
    text-align: justify;
    text-indent: 24.1pt;
    margin: 0;
    padding: 0
    }
.block_42 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_43 {
    display: block;
    font-size: 0.75em;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    margin: 0;
    padding: 0
    }
.block_44 {
    color: black;
    display: block;
    font-family: serif;
    font-size: 0.75em;
    text-align: justify;
    text-indent: 21pt;
    margin: 0;
    padding: 0
    }
.block_45 {
    display: block;
    font-size: 1.41667em;
    font-weight: bold;
    line-height: 1.2;
    text-align: left;
    margin: 0;
    padding: 0
    }
.block_46 {
    display: block;
    font-weight: bold;
    line-height: 1.73;
    page-break-after: avoid;
    page-break-inside: avoid;
    text-align: justify;
    margin: 13pt 0;
    padding: 0
    }
.block_47 {
    display: block;
    font-size: 0.75em;
    line-height: 1.5;
    text-align: justify;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_48 {
    display: block;
    font-family: serif;
    line-height: 1.5;
    text-align: justify;
    text-indent: 24pt;
    margin: 0;
    padding: 0
    }
.block_49 {
    display: block;
    font-family: serif;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.block_50 {
    display: block;
    font-family: "宋体", serif;
    line-height: 1.5;
    text-align: justify;
    text-indent: 2em;
    margin: 0;
    padding: 0
    }
.calibre {
    color: #000;
    display: block;
    font-family: "Calibri", sans-serif;
    font-size: 1em;
    padding-left: 0;
    padding-right: 0;
    margin: 0 5pt
    }
.calibre1 {
    font-weight: bold
    }
.calibre2 {
    white-space: pre-wrap
    }
.calibre3 {
    display: table-row-group;
    vertical-align: middle
    }
.calibre4 {
    display: table-row;
    vertical-align: inherit
    }
.calibre5 {
    display: block
    }
.table_ {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    margin-bottom: 0;
    margin-left: 0;
    margin-top: 0;
    text-indent: 0;
    border: #000 solid 1pt;
    padding: 0
    }
.table_1 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    border: #000 solid 1pt;
    margin: 0 auto;
    padding: 0
    }
.table_2 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 200pt;
    border: #000 solid 1pt;
    margin: 0 auto;
    padding: 0
    }
.table_3 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 193pt;
    border: #000 solid 1pt;
    margin: 0 auto;
    padding: 0
    }
.table_4 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 194pt;
    border: #000 solid 1pt;
    margin: 0 auto;
    padding: 0
    }
.table_5 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 245pt;
    border: #000 solid 1pt;
    margin: 0 auto;
    padding: 0
    }
.table_6 {
    border-collapse: collapse;
    border-spacing: 2px;
    display: table;
    text-indent: 0;
    width: 238pt;
    border: #000 solid 1pt;
    margin: 0 auto;
    padding: 0
    }
.td_ {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 90.5pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_1 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 78pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_2 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.8pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_3 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 90.5pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_4 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 78pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_5 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.8pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_6 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 90.5pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_7 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 78pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_8 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 70.8pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_9 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 112pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_10 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 91.1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_11 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 112pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_12 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 91.1pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_13 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 112pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_14 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 91.1pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_15 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 88.6pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_16 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 50.6pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_17 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 60.3pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_18 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 88.6pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_19 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 50.6pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_20 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 60.3pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_21 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 88.6pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_22 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 50.6pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_23 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 60.3pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_24 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 99.3pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_25 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 39.2pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_26 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 54.5pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_27 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 99.3pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_28 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 39.2pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_29 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 54.5pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_30 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 99.3pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_31 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 39.2pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_32 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 54.5pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_33 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 99.5pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_34 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 43.1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_35 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 51.5pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_36 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 99.5pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_37 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 43.1pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_38 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 51.5pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_39 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 99.5pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_40 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 43.1pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_41 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 51.5pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_42 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 98.8pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_43 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 35.5pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_44 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 111pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_45 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 98.8pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_46 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 35.5pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_47 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 111pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_48 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 98.8pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_49 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 35.5pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_50 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 111pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_51 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 102pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_52 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 101pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_53 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 102pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_54 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 101pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_55 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 102pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_56 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 101pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_57 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 171pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_58 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 37pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_59 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 38pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_60 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 171pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_61 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 37pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_62 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 38pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_63 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 171pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_64 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 37pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_65 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 38pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_66 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 160pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_67 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 42.4pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_68 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 50.1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_69 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 160pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_70 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 42.4pt;
    border: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_71 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 50.1pt;
    border-top: #000 solid 1pt;
    border-bottom: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_72 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 160pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_73 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 42.4pt;
    border-top: #000 solid 1pt;
    border-right: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.td_74 {
    display: table-cell;
    text-align: inherit;
    vertical-align: top;
    width: 50.1pt;
    border-top: #000 solid 1pt;
    border-left: #000 solid 1pt;
    padding: 0.5ex 5.4pt
    }
.text_ {
    font-size: 1em
    }
.text_1 {
    font-size: 1.33333em
    }
.text_2 {
    font-family: "Calibri", sans-serif
    }
.text_3 {
    font-family: "宋体", serif
    }
